raincoat_api/Gemfile.lock
raincoat_api/public/models/clip-vit-base-patch32/
notes_and_test_data/test_images/
notes_and_test_data/test_images_2/
notes_and_test_data/processed_images

# Ignore model + weights
raincoat_api/public/models/*

scripts/model_extractions/test_datasets
scripts/model_extractions/datasets
scripts/model_extractions/runs
scripts/model_extractions/models
scripts/model_extractions/user_corrections
